<div class="container">
    <div class="col-md-4">
        <img src="https://lh5.googleusercontent.com/-cx-846SzfYA/AAAAAAAAAAI/AAAAAAAAABQ/DrOs5_iQtcY/photo.jpg"
        alt="" class="img-rounded img-responsive" />
    </div>
    <div class="col-md-8">
        <div class="col-md-12">
            <div class="col-md-7">
                <blockquote>
                    <p>Rakesh P D</p> <small><cite title="Source Title">wayanad, Kerala,India </cite></small>
                </blockquote>
            </div>
            <div class="col-md-5">
                <p> <i class="glyphicon glyphicon-envelope"></i> me@rakeshpd.com
                <br
                /> <i class="glyphicon glyphicon-globe"></i> www.rakeshpd.com
                <br /> <i class="glyphicon glyphicon-gift"></i> August 12, 1991</p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="container">
                <h3>carrer profile</h3> 
                <p>asdgkjsd gdjshgd jgsad jasd </p>
            </div>
        </div>
    </div>
</div>
